*:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: courier;
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

.footer {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 12px;
    color: #909090;
}

.footer a {
    color: #4b4b4b;
}

.example {
    border-radius: 3px;
    cursor: pointer;
    background: #c0f0fd;
    padding: 1px 4px;
    color: #3c98b1;
}

h1 {
    font-size: 1.5em;
}

#lefty {
    background: #f5f5f5;
    width: 50%;
    vertical-align: top;
    padding: 15px;
}

#lefty textarea {
    background: #f5f5f5;
    font-family: monospace;
    width: 100%;
    font-size: 14px;
    height: 500px;
    border: none;
}

#righty {
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding: 15px;
    background: rgb(224, 255, 255);
}

#righty ul {
    background-color: inherit;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
